body {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./img/about3.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
h2 {
  margin-block: 10px;
  font-size: 69px;
  width: calc(100vw-400px);
  justify-content: center;
  display: flex;
  color: chocolate;
  text-align: center;
  text-shadow: 6px 0px 3px #170b11;
  font-family: "Bowlby One SC", cursive;
}
.about {
  animation-name: move;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
@keyframes move {
  0% {
    color: coral;
  }
  25% {
    color: rgb(196, 71, 29);
  }
  50% {
    color: darkgoldenrod;
  }
  75% {
    color: indianred;
  }
  100% {
    color: rgb(114, 141, 15);
  }
}

.first {
  float: left;
  width: 450px;
  margin-left: auto;
}
.second {
  float: right;
}
p {
  margin: 5px;
  color: darkgrey;
  font-size: 26px;
  font-family: "Galada", cursive;
}
span {
  font-weight: bolder;
}
h3 {
  font-size: 45px;
  font-weight: bolder;
  color: burlywood;
  font-family: "Sonsie One", cursive;
}
h4 {
  color: darkkhaki;
  font-size: larger;
  font: outline;
}
.cont {
  font-weight: lighter;
  color: aliceblue;
  font-size: 20px;
}
div {
  color: rgba(199, 159, 39, 0.5);
  font-size: 23px;
  font-family: "Galada", cursive;
}
.fourth {
  margin: 5px;
  float: left;
}
.fifth {
  float: left;
}
.sixth {
  float: left;
}
.end {
  padding: 10px;
  border-top: 3px solid rgb(94, 87, 87);
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6));
  font-family: "EB Garamond", serif;
}
