body {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./img/about3.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
.cont {
  font-weight: lighter;
  color: aliceblue;
  font-size: 20px;
}
.about {
  animation-name: move;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
@keyframes move {
  0% {
    transform: rotateX(15 deg);
    color: coral;
  }
  25% {
    transform: translate3d(10px);
    color: rgb(196, 71, 29);
  }
  50% {
    transform: rotateZ(10 deg);
    color: darkgoldenrod;
  }
  75% {
    transform: translateZ(10px);
    color: indianred;
  }
  100% {
    color: rgb(114, 141, 15);
  }
}
p {
  margin: 5px;
  color: darkgrey;
  font-size: 26px;
  font-family: "Galada", cursive;
}
h2 {
  margin-block: 10px;
  font-size: 69px;
  width: 100vw;
  justify-content: center;
  display: flex;
  text-shadow: 6px 0px 3px #170b11;
  font-family: "Bowlby One SC", cursive;
  color: chocolate;
  text-align: center;
}

h4 {
  color: darkkhaki;
  font-size: larger;
  font: outline;
}
div {
  background: linear-gradient(rgb(209, 137, 28, 0.2), rgb(209, 137, 28, 0.2));
  margin: 5px;
  color: darkgrey;
  font-size: 26px;
  font-family: "Galada", cursive;
}
.end {
  padding: 10px;
  border-top: 3px solid rgb(94, 87, 87);
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6));
  font-family: "EB Garamond", serif;
}
