body {
  background: url("./bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  text-align: center;
  display: flex;
  justify-content: center;
  min-width: calc(100vw-750px);
  margin: auto;
  font-size: 100px;
  color: aqua;
  text-shadow: 7px 5px 5px rgba(206, 89, 55, 0.91);
}
.bg {
  width: 450px;
  margin-left: auto;
  color: aqua;
  font-size: xx-large;
  font-weight: bold;
  font-style: italic;
}
h2 {
  margin: 25px;
  color: violet;
}
.cont {
  color: aliceblue;
  font-size: 25px;
  font-style: italic;
}
a {
  font-style: normal;
  font-weight: bolder;
  font-size: 20px;
}
