body {
  background: url("./bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
}
.cont {
  font-weight: lighter;
  color: aliceblue;
  font-size: 19px;
  font-style: italic;
}
p {
  margin: 5px;
  color: darkgrey;
  font-size: 26px;
}
h2 {
  font-size: 60px;
  color: chocolate;
  text-align: center;
  text-align: center;
  text-shadow: 6px 0px 3px #170b11;
}
.about {
  animation-name: move;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
@keyframes move {
  0% {
    transform: rotateX(15 deg);
    color: coral;
  }
  25% {
    transform: translate3d(10px);
    color: rgb(196, 71, 29);
  }
  50% {
    transform: rotateZ(10 deg);
    color: darkgoldenrod;
  }
  75% {
    transform: translateZ(10px);
    color: indianred;
  }
  100% {
    color: rgb(114, 141, 15);
  }
}

h4 {
  color: darkkhaki;
  font-size: larger;
  font: outline;
}
.one {
  padding: 5px;
  float: right;
  margin-right: 13px;
  border: 3px dotted white;
  font-size: 15px;
  width: 450px;
}
