body {
  background: radial-gradient(
    circle at 30% 107%,
    #14011696 0%,
    #892d96 5%,
    #630666 9%,
    #07090a 15%,
    #7a104e 22%,
    #08171f 35%,
    #751a57 50%,
    #08171f 75%,
    #151516 86%,
    #07090a 105%
  );
}
.cont {
  font-weight: lighter;
  color: aliceblue;
  font-size: 20px;
}
p {
  margin: 5px;
  color: darkgrey;
  font-size: 26px;
  font-family: "Galada", cursive;
}
h2 {
  margin-block: 10px;
  font-size: 69px;
  width: 100vw;
  justify-content: center;
  display: flex;
  color: chocolate;
  text-align: center;
  text-shadow: 6px 0px 3px #170b11;
  font-family: "Bowlby One SC", cursive;
}
.about {
  animation-name: move;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
@keyframes move {
  0% {
    transform: rotateX(15 deg);
    color: coral;
  }
  25% {
    transform: translate3d(10px);
    color: rgb(196, 71, 29);
  }
  50% {
    transform: rotateZ(10 deg);
    color: darkgoldenrod;
  }
  75% {
    transform: translateZ(10px);
    color: indianred;
  }
  100% {
    color: rgb(114, 141, 15);
  }
}

h4 {
  color: darkkhaki;
  font-size: larger;
  font: outline;
}
.one {
  padding: 5px;
  float: right;
  margin-right: 13px;
  border: 1px solid rgb(94, 87, 87);
  font-size: 15px;
  width: 400px;
}
.end {
  padding: 10px;
  border-top: 3px solid rgb(94, 87, 87);
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6));
  font-family: "EB Garamond", serif;
}
.icon {
  margin: 22px 12px;
}
